{% extends "base.html" %}
{% block content %}
<h2>HackPHS 2022 Judging System</h2>
<hr>
<p><i>All systems nominal</i></p>
<button onclick="location.href='log'">Server Log</button>
<button onclick="reload()">Refresh</button>
<br>
<hr>
<br>
Loaded file: {{ csv_filename }}
<form method="post" enctype=multipart/form-data onSubmit="document.getElementById('submit').disabled=true;">
    <input type="file" value="Select CSV" style="float:left" name="file" accept = ".csv" id="file" required>
    <input type="submit" value="Load File" style="float:right">
</form>
<br clear=both>
<hr>
<p>Received responses from {{ total - awaiting|length }}/{{ total }} judges</p>
<p>Awaiting responses from:
{% for judge in awaiting %}
    <a href="/rank/{{ judge }}">{{ judge }}</a>,
{% endfor %}
</p>
<hr>
<h3>Current Top 5 Ranking:</h3>
{% if top5 %}
<table>
    <tr>
        <th>Rank</th>
        <th>Project</th>
    </tr>
    {% for project in top5 %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ project }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Insufficient data to construct ranking.</p>
{% endif %}
<hr>
<h3>Current Full Ranking:</h3>
{% if ranking %}
<table>
    <tr>
        <th>Rank</th>
        <th>Project</th>
        <th>Win %</th>
    </tr>
    {% for project in ranking %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ project[0] }}</td>
        <td>{{ project[1] }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Insufficient data to construct ranking.</p>
{% endif %}
<hr>
<footer>
    Built by Jieruei Chang <a href="jieruei.github.io">@knosmos</a> with &lt;3<br>
    Hosted on Render
</footer>
{% endblock %}