{% extends "base.html" %}
{% block content %}
<hr>
Rank the following projects (drag to reorder):
<br><br>
<ol id="list">
    {% for project in projects %}
        <li class="box" data-id="{{ project[0] }}"><a href="{{ project[2] }}">{{ project[0] }}</a>
            <span style="color:rgb(180, 180, 180)">│</span>
            {{ project[1] }}
        </li>
    {% endfor %}
</ol>
<br>
<button onclick="submit()">Submit</button>
<script>
    let order;
    let sortable = Sortable.create(list, {
        animation: 150,
        store: {
            set: function (sortable) {
                order = sortable.toArray();
                console.log(order);
            }
        }
    });
    order = sortable.toArray();

    function submit() {
        console.log(order);
        console.log(JSON.stringify({"order": order}));
        fetch("", {
            "method": "POST",
            "headers": {"Content-Type": "application/json"},
            "body": JSON.stringify({"order": order}),
        }).then(response => {
            console.log(response);
            if (response.status == 200) {
                alert("Success!");
            } else {
                alert("Error: " + response.status);
            }
        });
    }
</script>
{% endblock %}